body{
    display: flex;
}

.head{
    display: flex;

    align-items: flex-start;
}

.ele{
    height: 400px;
    width: 200px;

    background-color: salmon ;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin: 10px;
}

.content{
    height: 40%;
}

.but{
    display: flex;

    align-items: flex-end;

    height: 40%;
}

button{
    width: 150px;
    height: 50px;

    margin: 10px;
}