

.container {
    width: 80%;
    height: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 10px;
    align: center;
    border: 5px solid #3388cc;
    font-family: Arial; 
    font-size: 16px;
   box-shadow: 0 0 20px black; /* Ombre noire avec une épaisseur de 5px */
}
.header {
  width: 100%;
  height: 200px;
    margin:0 auto; 
    padding: 3px;
    border: 5px solid #3388cc; /* Bordures des cellules */
    border-radius: 5px; /* Bordure arrondie */
    box-shadow: 0 0 20px black; 
}
.left {
  width: 60%; /* Adjust the width as per your layout */
  float: left;
}
.right {
  /*width: 40%; /* Adjust the width as per your layout */
    float: right;
    height: 200px;
}
.contact {
    width:20%;
}
table {
    border: 1px solid red;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin: 12px 0px 40px; 
    text-align: left;
    padding: 10px;
    vertical-align: top;
    background-color: #fff; /* Couleur de fond des cellules */
    border: 5px solid #3388cc; /* Bordures des cellules */
    border-radius: 5px; /* Bordure arrondie */
    box-shadow: 0 0 20px black;
}

.titre {
    background-color: #007ACC; /* Couleur de fond de l'en-tête */
    font-weight: bold;
    font-size: 20px;

}
