h1{
    font-family: Verdana, Geneva, Tahome, sans-serif;
    color: #003057;
    text-shadow: 1px 1px 1px black, 0 0 3px red, 0 0 2px red;
}
button{
    background-color: white;
    border: 2px solid orange;
    border-radius: 30px;
    box-shadow: orchid;
    color: orange;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 27px;
    padding: 0 18px;
    line-height: 50px;
    font-family: Verdana, Geneva, Tahome, sans-serif;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 1px orange, orchid, orange;
    user-select: none;
    transition: 0.1s;
    width: 250px;
    margin: 10px;
}
button:hover{
    background-color: lightsalmon;
    transform: translate(4px, 4px);
    box-shadow: none;
    transition: 0.3s;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: colum;
    margin: 50px auto;
    border: 1px solid #f1f1f1;
}